<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="{{
            url_for('static',filename='styles/index.css') }}">
        {% block head %}
        <title>E-Commerce</title>
        {% endblock %}
    </head>

    <body>
        <div class="TopDiv">

            <div class="SiteName">
                <p id="SiteName">PomKlett</p>
            </div>

           
        {% if loginData == None %}
            <div class="SignUp">
                <a id="SignUp" href=signup><button>Sign Up</button></a>
            </div>

            <div class="LogIn">
                <a id="LogIn" href=login><button>Log In</button></a>
            </div>

        {% else %}
            <div class="LogOut">
                <a id="LogOut" href=logout><button onclick="toggle_LogOut()">Logout</button></a>
            </div> 

        {% endif %}

        </div>

        <div class="MidDiv">
            <div class="AllItems">
                <a ><button>All items</button></a>
            </div>

            <div class="GPU">
                <a href=product><button>GPUs</button></a>
            </div>

            <div class="CPU">
                <a ><button>CPUs</button></a>
            </div>

            <div class="Chassi">
                <a ><button>Chassis</button></a>
            </div>
        </div>

        {% block content %}
        {% endblock %}
        
    </body>
</html>