{% extends "base.html" %}
{% block title %}Basket{% endblock %}
{% block head %}
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/basket.css') }}">
{% endblock %}
{% block content %}
{{orderStatus}}
<div class="Basket">
    <div class="Products">

        {% for i in range(basketData|length) %}
            <div class="ProductName">
                <p>Product Name: {{productData[i][0]}}</p>
            </div>

            <div class="Price">
                <p>Price: {{productData[i][1]}}</p>
            </div>

            <div class="Amount">
                <p>Amount: {{basketData[i][0]}}</p>
            </div>


            <form action="/basket" method="POST">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="productID" value="{{basketData[i][1]}}">

                <button class="removeItem" type="submit">
                    remove item
                </button>
            </form>

            <br>
        {% endfor %}

        <form action="/basket" method="POST">
            <input type="hidden" name="action" value="order">
        
            <button class="placeOrderButton" type="submit">
                Place Order
            </button>
        
        </form>
    </div>
</div>

<!-- <form action="/basket" method="POST">
    <input type="hidden" name="action" value="order">

    <button class="placeOrderButton" type="submit">
        Place Order
    </button>

</form> -->

{% endblock %}