{% extends "base.html" %}
{% block title %}Basket{% endblock %}
{% block head %}
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/basket.css') }}">
{% endblock %}
{% block content %}

<div class="Products">

    {% for i in range(basketData|length) %}
        <div class="BasketID">
            <p>BasketID: {{basketData[i][0]}}</p>
        </div>

        <div class="ProductID">
            <p>ProductID: {{basketData[i][1]}}</p>
        </div>

        <div class="Amount">
            <p>Amount: {{basketData[i][2]}}</p>
        </div>

        <form action="/basket" method="POST">

            <input type="hidden" name="productID" id="enteerlname" value="{{basketData[i][1]}}">

            <button class="removeItem" type="submit">
                remove item
            </button>
        </form>

        <br>
    {% endfor %}
</div>

{% endblock %}