<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="{{
            url_for('static',filename='styles/index.css') }}">

        <title>E-Commerce</title>
    </head>

    <body>
        <div class="TopDiv">
            <div class="SiteName">
                <p id="SiteName">PomKlett</p>
            </div>

            <div class="SignUp">
                <a id="SignUp" href=signup><button>Sign Up</button></a>
            </div>

            <div class="LogIn">
                <a id="LogIn" href=login><button>Log In</button></a>
            </div>

            <div class="ShoppingCart">
                <img id="ShoppingCart" src="https://media.istockphoto.com/id/1206806317/sv/vektor/kundvagnsikonen-isolerad-p%C3%A5-vit-bakgrund.jpg?s=612x612&w=0&k=20&c=MIwoJBKvLKPX4malYnK6CeUqipNV5lqq0MOB6VAQYAw=">
            </div>
        </div>




        <div class="MidDiv">
            <div class="AllItems">
                <a ><button>All items</button></a>
            </div>

            <div class="GPU">
                <a ><button>GPUs</button></a>
            </div>

            <div class="CPU">
                <a ><button>CPUs</button></a>
            </div>

            <div class="Chassi">
                <a ><button>Chassis</button></a>
            </div>
        </div>


        <p align="center">
            <a href=other_page><button>Press here to go to another page!</button></a>
        </p>
        
        <div class="products">
            <h1> {{data}} </h1>

        </div>
        
    </body>
</html>