<!DOCTYPE html>
<html>
<head>

<script src="https://cdn.tailwindcss.com"></script>   <!--Tailwind css shoof -->

<!--<link rel="stylesheet" href="index.css"> -->

<title >E-Commerce</title>
</head>

<body>

<div class="font-bold m-2 p-1 border-pink-800 border-4 border-x-0 bg-cyan-500 shadow-lg shadow-cyan-500/60 text-black text-lg">
    <h1 align="center">E-commerce site</h1>
</div>

<h1>Welcome!</h1>

<p align="center">
    <a href=other_page ><button class=grey style="height: 0px;width:150px">Press here to go to another page!</button></a>
</p>

</body>
</html>