<!DOCTYPE html>
<html>

<head>
<title>E-Commerce</title>
</head>

<body>
    <form action="/login" method="POST">
        <div>
            <label for="enteremail">Enter your email</label>
            <input type="email" name="email" id="enteremail">
        </div>

        <br>

        <div>
            <label for="enterpassword">Enter your password</label>
            <input type="password" name="password" id="enterpassword">
        </div>

        <br>

        <div>
            <input type = "submit" value = "Submit" />
        </div>
    </form>

    {{data}}
    
    <p align="center" ><a href=/><button class= >Go back to start</button></a></p>
</body>

</html>