{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block head %}
<meta charset="utf-8">
{% endblock %}
{% block content %}

<div class="Orders">
    {% for i in range(orderData|length) %}
    <div class="OrderID">
        <p>OrderID: {{orderData[i][0]}}</p>
    </div>

    <div class="Status">
        <p>Status: {{orderData[i][1]}}</p>
    </div>

    {% for j in range(productData[i]|length) %}
        <div class="Product">
            <p>Product: {{productData[i][j][0]}}</p>
        </div>
    
        <div class="Amount">
            <p>Amount: {{orderProductData[i][j][1]}}</p>
        </div>
    {% endfor %}

    <div class="Price">
        <p>Total Price: {{orderPrice[i]}}</p>
    </div>

    <br>

    {% if admin %}
    <form action="/orders" method="POST">
        <div>
            <input type="hidden" name="orderID" value="{{orderData[i][0]}}">   
            
            <button class="delivered" type="submit">
                Delivered
            </button>
        </div>
    </form>
    {% endif %}
{% endfor %}
</div>


{% endblock %}