{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block head %}
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static',filename='styles/product.css') }}">
{% endblock %}
{% block content %}
<div class="ProductPage">
    <div class="Product">

        <div class="ProductName">
            <p>{{productData[0][1]}}</p>
        </div>

        <div class="ProductID">
            <p>{{productData[0][0]}}</p>
        </div>

    </div>

    <div class="ProductInfo">

        <div class="ProductImage">
            <img id="img" src="{{productData[0][5]}}" alt="Product image">
        </div>

        <div class="ProductPrice">
            <p>{{productData[0][3]}} kr</p>
        </div>

        <div class="ProductStock">
            <p>Stock: {{productData[0][2]}}</p>
        </div>

        <div class="AddBasket">
            <form action="/product/{{productData[0][0]}}" method="POST">
                <input type="hidden" name="action" value="addToBasket">

                <button class="AddToCart" type="submit">
                    Add to cart
                </button>
            </form>
        </div>
    </div>



   <div>
        <form action="/product/{{productData[0][0]}}" method="POST">
            <input type="hidden" name="action" value="grading">
        
            <label for="grade">Enter Grade</label>
            <input type="number" name="grade" id="enterGrade">

            <label for="comment">Enter Comment</label>
            <input type="text" name="comment" id="enterComment">

            <button class="submitComment" type="submit">
                Post grade and comment
            </button>
        </form>
    </div>

    {% if admin %}
        <form action="/product/{{productData[0][0]}}" method="POST">
            <div>
                <input type="hidden" name="action" value="changeStock">
                
                <label for="changeStock">Enter new stock</label>
                <input type="number" name="newStock" id="enterstock">
            </div>
        </form>
    {% endif %}
</div>


<div class="GradesAndComments">
    {% for i in range(gradeInfo|length) %}
        <div class="User">
            <p>User: {{gradeInfo[i][1]}}</p>
        </div>

        <div class="Grade">
            <p>Grade: {{gradeInfo[i][4]}}</p>
        </div>

        <div class="Comment">
            <p>Review: {{gradeInfo[i][3]}}</p>
        </div>
        <br>
    {% endfor %}
</div>


{% endblock %}