{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block head %}
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static',filename='styles/product.css') }}">
{% endblock %}
{% block content %}
<div class="ProductPage">
    <div class="Product">

        <div class="ProductName">
            <p>{{productData[0][1]}}</p>
        </div>

        <div class="ProductID">
            <p>{{productData[0][0]}}</p>
        </div>

    </div>

    <div class="ProductInfo">

        <div class="ProductImage">
            <img id="img" src="{{productData[0][5]}}" alt="Product image">
        </div>

        <div class="ProductPrice">
            <p>{{productData[0][3]}} kr</p>
        </div>

        <div class="ProductStock">
            <p>Stock: {{productData[0][2]}}</p>
        </div>

        <div class="AddBasket">
            <form action="/product/{{productData[0][0]}}" method="POST">
                <button class="AddToCart" type="submit">
                    Add to cart
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}